.kw-character-image {
  float: right;
  border: 1px solid #000
}

.kw-character-info-table table {
  text-align: center;
  border: 1px solid #000
}

.kw-character-info-table td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding-top: 5px;
  padding-bottom: 5px
}
